@import url(https://fonts.googleapis.com/css?family=Bad+Script);
@import url(https://fonts.googleapis.com/css?family=Indie+Flower);
@import url(https://fonts.googleapis.com/css?family=Architects+Daughter);
@import "../functions";
.eg-theme-gourmet {
  .eg-slideshow {
    background-image: assetUrl("handmadepaper.png");
    h3 {
      margin-top: 0.3em;
      margin-bottom: -0.1em;
    }
  }
  .eg-slide-content,
  .subslide {
    width: 25em;
    max-width: 80%;
    margin: 0 auto;
  }

  h1,
  h2,
  h3,
  h4 {
    font-family: "Bad Script", cursive;
    font-weight: normal;
  }
  p,
  li,
  .button {
    font-family: "Architects Daughter", cursive;
    font-weight: normal;
    font-size: 0.7em;
    line-height: 2em;
  }
  h3 em {
    text-decoration: underline;
    font-style: normal;
  }
  @import "./tomorrow";
  .code-box {
    box-shadow: 0 0 0.25em 0.25em #ddd;
  }
  .eg-code-comment {
    font-weight: bold;
    color: #dd4321;
  }
  .eg-modal {
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    h1,
    h2,
    h3,
    h4 {
      font-weight: bold;
    }
    img {
      box-shadow: 0 0 4px 4px #888;
    }
  }
  .button {
    background: none;
    cursor: pointer;
    border: none;
    color: black;
    border-radius: 2em;
    border: 1px solid gray;
    padding: 0.5em 0.5em;
    text-align: center;
    text-decoration: none;
    margin-top: 1em;
    display: inline-block;
  }
  .eg-switch {
    .slider {
      background-color: #ccc;
    }
    .slider.checked {
      background-color: #ffb014;
    }
    .unchecked {
      color: #bbbbbb;
    }
  }
  .eg-radio {
    margin-right: 1em;
    .radio {
      background: none;
      border: 2px solid black;
      border-spacing: 2px;
      z-index: 1;
    }

    .radiodot {
      background-color: #ffb014;
    }
  }

  .shadowbox {
    box-shadow: 0 0 4px 4px #bbb;
  }
  .embedded-slideshow .eg-slideshow {
    box-shadow: 0 0 4px 4px #bbb;
  }
  .half {
    width: 50%;
  }
}

@import "../base";
