@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro);

.eg-slideshow {
  margin-top: 0;
  background-attachment: fixed;
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;

  h1,
  h2,
  h3 {
    text-align: center;
  }

  h1 {
    font-size: 4em;
    margin-bottom: 0.1em;
  }
  h2 {
    font-size: 3em;
  }
  h3 {
    font-size: 2em;
    margin-bottom: 0.5em;
  }
  h4 {
    font-size: 1.5em;
  }
  input {
    font-size: 1em;
  }
  strong {
    font-weight: bold;
  }
  .small {
    font-size: 0.65em;
  }

  img {
    max-width: 80%;
  }
  .eg-code-block {
    font-family: "Source Code Pro", Courier;
    text-align: left;
    font-size: 0.5em;
    .box {
      padding: 1em;
    }
  }
  .eg-slide {
    height: 100%;
    overflow: hidden;
    width: 100%;
    position: absolute;
  }
  .subslide {
    position: absolute;
    margin-top: -1em;
  }

  .inline {
    display: inline-block;
  }
  .center {
    text-align: center;
    p {
      text-align: center;
    }
  }

  .quarter {
    display: inline-block;
    width: 50%;
    margin-bottom: 0.5em;
  }

  .eg-switch {
    .switch {
      margin-right: 0.5em;
    }
  }
  .eg-radio {
    .radiobutton {
      margin-right: 0.5em;
    }
  }
  .eg-triggered-message {
    position: absolute;
  }

  .button {
    font-size: 1em;
  }

  .nodisplay {
    display: none;
  }
}
