@import url(https://fonts.googleapis.com/css?family=Pompiere);
@import url(https://fonts.googleapis.com/css?family=Amatic+SC);
@import "../functions";
.eg-theme-agrume {
  .eg-slideshow {
    background-image: assetUrl("subtle_symphony.png");
    background-color: #eee;
  }
  .eg-slide-content,
  .subslide {
    width: 25em;
    max-width: 80%;
    margin: 0 auto;
    .eg-triggered-message {
      background: #fbfbfb;
      padding-top: 0.3em;
      padding-bottom: 0.3em;
      padding-left: 0.5em;
      padding-right: 0.5em;
      margin: 1em;
      border: 0.07em solid #bbb;
      border-radius: 0.5em;
      font-size: 0.8em;
      p {
        margin-top: 0 !important;
        margin-bottom: 0 !important;
      }
    }
  }
  h1,
  h2,
  h3,
  h4,
  p,
  li,
  .button,
  input {
    font-family: "Pompiere", cursive;
    font-weight: normal;
  }
  h3 {
    text-transform: uppercase;
  }
  h3 em {
    text-decoration: underline;
    font-style: normal;
  }
  @import "./solarized-light";
  .code-box {
    box-shadow: 0 0 0.25em 0.25em #ddd;
  }
  .eg-code-comment {
    font-weight: bold;
    color: #dd4321;
  }
  .eg-modal {
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    h1,
    h2,
    h3,
    h4 {
      font-weight: bold;
    }
    img {
      box-shadow: 0 0 0.2em 0.2em #888;
    }
  }
  input {
    background-color: rgba(255, 255, 255, 0.4);
    border: 0.5px solid #ccc;
    border-radius: 0.2em;
  }
  input:focus {
    border: none;
  }
  .button {
    background: none;
    cursor: pointer;
    border: none;
    color: black;
    border-radius: 0.5em;
    border: 0.1em solid gray;
    padding: 0.2em 0.2em;
    margin-left: 0.5em;
    margin-right: 0.5em;

    text-align: center;
    text-decoration: none;
    margin-top: 1em;
    display: inline-block;
    line-height: 1em;
  }
  .eg-switch {
    margin-right: 0.5em;
    margin-left: 0.5em;
    .slider {
      background-color: #ccc;
    }
    .slider.checked {
      background-color: #ffb014;
    }
    .unchecked .label {
      color: #bbbbbb;
    }
  }
  .eg-radio {
    margin-right: 0.5em;
    margin-left: 0.5em;
    .radio {
      background: none;
      border: 2px solid black;
      border-spacing: 2px;
      z-index: 1;
    }
    .radiodot.checked {
      background-color: #ffb014;
    }
  }

  .embedded-slideshow-container {
    .embedded-slideshow .eg-slideshow {
      box-shadow: 0 0 0.25em 0.25em #bbb;
    }
  }

  .shadowbox {
    box-shadow: 0 0 0.25em 0.25em #bbb;
  }
}

@import "../base";
